.contacto {
    padding: 270px 100px;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent), url("../images/banner-contacto.webp");
    background-size: cover;
    background-position: center;

    h1 {
        color: $white-color;
        font-size: 50px;

        span {
            color: $tertiary-color;
        }
    }

    p {
        color: $white-color;
        font-size: 20px;
    }
}

.informacion-contacto {
    padding: 80px 100px;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    .formulario-contacto {
        padding: 20px 200px 20px 0px;
        
    }
}
