.nosotros {
    padding: 250px 100px;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent), url("../images/banner-nosotros.webp");
    background-size: cover;
    background-position: center;

    h1 {
        color: $white-color;
        font-size: 50px;
    }

    p {
        color: $white-color;
        font-size: 20px;
    }
}

.historia {
    padding: 80px 100px;


    .historia-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;

        h2 {
            font-size: 45px;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            padding: 20px 80px;

            span {
                font-weight: bold;
            }
        }
    }

    .objetivos-generales {

        align-items: center;
        padding: 20px 80px;

        h2 {
            font-size: 30px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding-top: 20px;
            padding-left: 40px;
            font-size: 20px;

            li {
                position: relative;
                padding-left: 24px;
                margin-bottom: 20px;

                &::before {
                    font-family: "Font Awesome 6 Free";
                    content: "\f058";
                    position: absolute;
                    left: 0;
                    color: rgb(0, 217, 0);
                }
            }
        }
    }
}